<div class="container">
  <div class="row">
    <div class="col-md-8 form-group">
      <input type="file" class="form-control" (change)="uploadedFile($event)" placeholder="Upload file" accept=".xlsx"
        #myForm>
    </div>
  </div>
<span>persons with correct id</span>
  <table *ngIf="isTable">
    <tr>
      <td>full name</td>
      <td>year of birth</td>
      <td> tz</td>
    </tr>
    <tr *ngFor="let item of result.correctId">
      <td>{{item.FullName}}</td>
      <td>{{item.YearOfBirth}}</td>
      <td>{{item.Tz}}</td>
    </tr>
  </table>

<span>persons with dis correct id</span>
 <table *ngIf="isTable">
    <tr>
      <td>full name</td>
      <td>year of birth</td>
      <td> tz</td>
    </tr>
    <tr *ngFor="let item of result.disCorrectId">
      <td>{{item.FullName}}</td>
      <td>{{item.YearOfBirth}}</td>
      <td>{{item.Tz}}</td>
    </tr>
  </table>


  <!-- <div class="row">    
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsCSV()">Read as CSV</button>    
    </div>    
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsJson()">Read as JSON</button>    
    </div>    
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsHTML()">Read as HTML</button>    
    </div>    
    <div class="col-md-2 form-group">    
      <button type="button" class="btn btn-info" (click)="readAsText()">Read as Text</button>    
    </div>    
  </div>     -->
  <!-- </div>  -->
